<h2 class="display-2 my-3">Recipes</h2>

<div class="row">
  <div class="col">
    <search-box [value]="filterText" (filterChange)="onFilterChange($event)"></search-box>
  </div>
</div>

{{ filteredRecipes | json }}

<div class="row">

  <div *ngFor="let recipe of recipes" class="col-12 col-md-6 col-lg-4">
    <div class="card my-3" [class.bg-warning]="filteredRecipes.includes(recipe)">
      <img class="card-img-top" [src]="recipe.imgUrl" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{ recipe.title }}</h4>
        <p class="card-text">{{ recipe.description }}</p>
        <a [routerLink]="['/recipes', recipe.id]" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>

</div>