<h2 class="display-2 my-3">{{ recipe.title }}</h2>

<div class="row">

  <div class="col-5">
    <img [src]="recipe.imgUrl" class="img-fluid rounded d-block">
  </div>
  <div class="col-7">
    <p>Ingredients:</p>

    <ul>
      <li *ngFor="let ingr of recipe.ingredients.split('\n')">{{ ingr }}</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>Description:</p>
    <p>{{ recipe.description }}</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <a [routerLink]="['edit']" class="btn btn-primary">
      Edit
    </a>
  </div>
</div>