<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Amazing Pets</a>
  <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/pets">My pets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
    <router-outlet></router-outlet>

</div>


